@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("/src/assets/the-scrape.min.jpeg") no-repeat;
  background-size: cover;
}

.main-layout {
  max-width: 2500px;
  margin: 0 auto;
}
